.first-div {
    background-color: #f9f3e7;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*height: 750px;*/
}
.links {
    width: 35%;
    text-align: right;
}

.current-info{
    display: flex;
    /*flex-direction: column;*/
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.current-info h5 {
    font-size: 1rem;
}
.links a {
    /*background-color: #ff8c00;*/
    margin: 5px 0;
    font-weight: 500;
    color: darkorange;
    border: 2px dashed darkorange;
    /*border: 2px solid #282828;*/
    /*border-bottom-width: 5px;*/
    /*border-left-width:3px;*/
    border-radius: 25px;
    /*width: 130px;*/
    text-align: center;
}
 .links .link-active {
    padding-top: 0;
    padding-bottom: 0;
     border-color: orangered;
     background-color: orangered;
     color: #282828;

}
 .bodyImage {
     width: 70%;
     /*height: 650px;*/
     margin-top: 10px;
     /*overflow: hidden;*/
 }
 .bodyImage img {
     width: 100%;
     height: 100%;
     display: block;
     object-fit: cover;
 }
