
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "BeauSans" ;
  src: url("fonts/BT-BeauSans-Regular.ttf");
}

:root {
  /*font-family:  'Plus Jakarta Sans',BeauSans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: BeauSans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  gap: 5px;

}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}


form {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  /*text-align: center;*/
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}
.profile label {
  margin: 0;
}

@keyframes pulse {
  0% {
    border-color: lightgreen;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: lightgreen;
  }
}
@keyframes blurAnimation {
  0% {
    opacity:  1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/*MUI STYLES*/
.MuiStepIcon-root.Mui-active.Mui-active {
  color: #3b3b3f
}
.MuiStepIcon-root * {
  color: #3b3b3f
}

.MuiButtonBase-root.MuiCheckbox-root.Mui-checked {
  color: #3b3b3f
}
